@font-face {
    font-family:  'November GeLC, Bold';
    src: url(../../fonts/NovemberGeLC-Bold.woff2);
}
@font-face {
    font-family:  'November GeLC, Regular';
    src: url(../../fonts/NovemberGeLC-Regular.woff2);
}
@font-face {
    font-family:  'Helvetica Neue LT GEO, Bold';
    src: url(../../fonts/Linotype-HelveticaNeueLTGEO75Bold.ttf);
}
@font-face {
    font-family:  'Helvetica Neue LT GEO, Roman';
    src: url(../../fonts/Linotype-HelveticaNeueLTGEO55Roman.ttf);
}