$tabs_color:#2C3234;
$tabBackground_color:#171718;
$background_color:#1C1D1E;
$orange_color:#EF5A21;
$banner_color:#25292B;
$button-color:#44494b;
$text-color:#FFFFFF;
$contentbox-color:#171718;
$dropdown-color:'#1E2122';

